a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.indented {
  padding-left: 4px;
}


.double-indented {
  padding-left: 8px;
}

em {
  color: black;
}

.pixelated {
  image-rendering: pixelated;
}